<section class="container post">
  <article>
    <header>
      <h1 class="title">{{ .Title }}</h1>
      <h2 class="date">{{ .Date.Format "January 2, 2006" }}</h2>
    </header>
    {{ .Section }}
    {{ .Content }}
  </article>
</section>
